{% extends 'base.html' %}
{% load static %}
{% block title %}Website Profil{% endblock %}
{% block page_title %}HSI Boarding School Purworejo{% endblock %}
{% block subtitle %}Website Profil Sederhana — Kelas X{% endblock %}

{% block content %}
  <div class="container">
      <h3 id="h3" class="section-title">Biodata</h3>
      <div class="profile">
        <img
          class="profile-img"
          width="100px"
          src="{% static 'images/myself.jpg' %}"
          alt="potogw"
        />
      </div>
      
      <p>
        Assalamu'alaikum... Konnichiwa!!!...Kenalin Gw
        <i>Rezad Dzaky Asshidiqie</i><br />
        Asal Gw dr <u>Bandung,Cimahi.</u> Gw lg belajar HTML di HSI-BS
        Purworejo,<br />
        Berikut tntg diri Gw :
      </p>
    </div>
    <div class="container">
      <h2 id="h3" class="section-title">Hobi Saya</h2>
      <ul>
        <li>Membaca</li>
        <li>Bermain game</li>
        <li>Menonton anime</li>
      </ul>
    </div>
    <div class="container">
      <h2 id="h3" class="section-title">Cita-Cita Saya</h2>
      <ol>
        <li>Masuk Surga</li>
        <li>Kasih Mahkota ke Kedua Org Tua d Surga</li>
        <li>Jd Miliarder yg Dermawan</li>
      </ol>
    </div>
    <div class="container">
      <h2 id="h3" class="section-title">Info Sosmed</h2>
      <p>
        Whatsaap : <u>+62 882 0000 31155</u><br />
        Ig : @rezaddzky_18<br />
        Telegram : @Ysshi
      </p>
    </div>
{% endblock %}
